.game_mode {
    background-color: lightgrey;
    width: 25%;
    border: 1px solid black;
    text-align: center;
    border-radius: 4px;
    display: table-cell;
}

.game_mode_rules {
    text-align: left;
}

.game_mode:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(110, 110, 255);
    padding: 15px 25px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.game_mode_button {
    padding: 5px 15px 5px 15px;
    background-color: lightsteelblue;
}

.game_mode_button:hover {
    background-color: lightskyblue;
}

.navigation_item {
    display: table-cell;
    width: 20%;
    text-decoration: none;
    color: black;
    text-align:center;
    font-weight: bold;
    border: solid black 1px;
    background-color: lightgray;
}

.navigation_item:hover {
    -webkit-box-shadow:0 0 20px lightskyblue; 
    -moz-box-shadow: 0 0 20px lightskyblue; 
    box-shadow:0 0 20px lightskyblue;
}

.navigation_item_active {
    background-color: lightskyblue;
}

.zodziuKiekis {
    text-align: right;
}

.game_word {
    font-size: 34px;
}

.game_input {
    font-size: 34px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.end_game_button {
    background-color: red;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    float: right;
}

.answer_button {
    padding: 5px 15px 5px 15px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.redtext {
    color: red;
}

.greentext {
    color: green;
}

.yellowtext {
    color: yellow;
}

.helpText {
    font-size: 23px;
}

.help-tip{
    display: inline-block;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    right: 40%
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}